
<div fxLayoutAlign="start center" fxLayout="column">
<div style="width:100%">
  <div style="width:100%;margin-top:18px" fxLayoutAlign="center center">
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel class="myclass">

  <mat-expansion-panel-header>

  <mat-panel-description>
   Take a note...
  </mat-panel-description>
  </mat-expansion-panel-header>


  <form class="example-headers-align" [formGroup]="createnote" (ngSubmit)="notesUser()">
  <mat-card-content>
  <div style="width:90%">
  <mat-form-field>
  <input type="text" formControlName="title" id="title" matInput placeholder="Title">
  </mat-form-field>
   </div>

   <div style="width:90%">
  <mat-form-field>
  <input type="text" formControlName="note" id="takeNote" matInput placeholder="Take a note...">
  </mat-form-field>
  </div>
  <button [disabled]="!createnote.valid" mat-stroked-button color="accent" class="btn-block">Create</button>
  </mat-card-content>
  </form>

  </mat-expansion-panel>

  </mat-accordion>
</div>
</div>
</div>

