
.mat-card-gt-xs{
  margin-top: 20px;
  width:550px;
  height: 80px;
  border-radius:7px
  }

  .inputtag input{
  width: 450px;
  border: none;
  color: black;
  outline:none;

  }

  .inputtag ::placeholder {
  color: grey;
  opacity: 1;
  font-size: 18px;
  outline:none;
  }
  .takeanote input{
  width: 500px;
  border: none;
  color: black;
  outline:none;

  }

  .takeanote ::placeholder{
  color: grey;
  opacity: 1;
  font-size: 14px;
  outline:none;

  }
