<button mat-icon-button [matMenuTriggerFor]="reminderSetter">  <mat-icon>add_alert</mat-icon> </button>



<mat-menu #reminderSetter="matMenu">
    <a class="Reminder"> &nbsp; Reminder:</a>
    
      <button mat-menu-item *ngFor="let reminder of reminderList"  (click)="reminderAdd(reminder)" >
          <div fxLayout="row" fxLayoutAlign="space-between center" class="reminderList"  >
              <a>{{reminder.Day}} &nbsp;</a>
              <a>{{reminder.Time}}</a>
          </div>
      </button>
      <button mat-icon-button> <mat-icon>timer</mat-icon> <a>&nbsp;Custom Date</a> </button>
     

</mat-menu>
  
   