<div class="container" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch" [ngStyle]="{background: data.color}">

      <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25"class="text"  placeholder="Title" [formControl]="title" value="{{data.title}}" [ngStyle]="{background: data.color}"></textarea>
    
      <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25" class="text" placeholder="Take a Note" [formControl]="note" value="{{data.note}}" [ngStyle]="{background: data.color}"></textarea>
    
    <div class="footer" fxLayoutAlign="space-between center">
        <app-icon (eventCarrier)="recieveMessageFromIcon($event)"> </app-icon>
      <button mat-button (click)=" updateNote()">Close</button>
    </div>
    </div>
    