<div class="grid-container">
  <!-- <h1 class="mat-h1">Fundoo NoteAPP</h1> -->
   <div fxHide.lt-sm="true" fxLayoutAlign="start center" fxLayout="row" class="search-toolbar-div">
    <div fxHide.lt-sm="true" class="search-div" fxLayoutAlign="center center">
      <mat-form-field class="search-bar" appearance="fill legacy">
        <span matPrefix><button mat-icon-button><mat-icon >search</mat-icon></button></span>
        <input matInput type="search" placeholder="Search" (keyup)="searchBox($event)" style="margin-top: 7px;"/>
      </mat-form-field>
    </div>
  </div>

<div fxLayoutAlign="start center" fxLayout="column">

  <div style="width:100%;margin-bottom:0.9em" fxLayoutAlign="center center">
    <mat-card [fxHide]="panelOpenState || checkListExpansionPanel" style="height: 10px" ngClass.gt-xs="mat-card-gt-xs"
      ngClass.lt-sm="mat-card-lt-sm">
      <mat-card-content fxLayout="row">
        <div style="width:70%">
          <input matInput type="text" (click)="panelOpenState=!panelOpenState" placeholder="Take a note..." autofocus />
        </div>
        <div style="width:30%; margin-top:-1em" fxLayoutAlign="space-around center">
          <button mat-icon-button color="" (click)="checkListExpansionPanel=!checkListExpansionPanel; ">
            <mat-icon matTooltip="New List">check_box</mat-icon>
          </button>
          <button mat-icon-button color="">
            <mat-icon matTooltip="New note with image">crop_original</mat-icon>
          </button>
        </div>
      </mat-card-content>

    </mat-card>


    <mat-card [fxHide]="!panelOpenState" [ngStyle]="{'background-color': matCardColor}" ngClass.gt-xs="mat-card-gt-xs"
      ngClass.lt-sm="mat-card-lt-sm">


      <mat-card-title fxLayoutAlign="space-between center" style="margin-top:-0.5em;">
        <div style="width:100%;">
          <input matInput type="text" placeholder="Title" [formControl]=title />
        </div>
        <div style="width:20%;" fxLayoutAlign="end center" [fxHide]="!isAdvancedUser">
          <button mat-icon-button color="" [fxHide]="isPinned" (click)="setPin()"><img
              src="src/assets/images/outline_fiber_pin.png" /></button>
          <button mat-icon-button color="" [fxHide]="!isPinned" (click)="setPin()"><img
              src="src/assets/images/baseline_fiber_pin.png" /></button>
        </div>

      </mat-card-title>
      <mat-card-content>
        <textarea matInput matTextareaAutosize placeholder="Take a note..."
          [formControl]="description">{{description.value}}</textarea>
      </mat-card-content>
    </mat-card>
    </div>
  </div>


  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
