<div style = "text-align:center">
  <h1>
    Welocome to FundooApp
  </h1>
  <input [(ngModel)]="register.fullname" type=text placeholder="fullname"><br>
  <input [(ngModel)]="register.username" type=text  placeholder="username"><br>
  <input [(ngModel)]="register.email" type=email placeholder="email"><br>
  <input [(ngModel)]="register.password" type=password placeholder="password"><br>
  <input [(ngModel)]="register.password2" type=password placeholder="password"><br><br>

  <button (click)="registerUser()">Register</button>

</div>

