

<div style = "text-align:center">

  <div class="loginForm">
    <h1 class="header">
      Login Here
    </h1>
    <div class="fields">

      <input [(ngModel)]="login.username" type=text id="login_name" placeholder="username"><br>
      <input [(ngModel)]="login.email" type=email id="login_email_id" placeholder="email"><br>
      <input [(ngModel)]="login.password" type=password id="login_password" placeholder="password"><br>

      <button id="LOGIN" (click)="loginUser()">login</button>

    </div>
      <div class="forgotpassword">
      <!-- <a routerLink="/forgotpassword">Registration</a> -->
     <a href="{% url 'forgotpassword' %}">Forgot Password?</a>
    </div>
  </div>
</div>

