
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar [color]="themeColor" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon aria-label="Side nav toggle" >menu</mat-icon></button>

   <img style="margin-left:0.6em" width=3% src="src/assets/images/keep.png"><span style="margin-left:0.5em">Notes</span>

    <div [fxHide.gt-xs]="true" [fxHide]="!openSearhBar" class="mini-search-bar" fxFlexFill>
      <input matInput type="search" placeholder="Search" (keyup)="searchBox($event)"/>
    </div>

  <!-- mat search box -->
  <div style="margin-left:4em" fxHide.lt-sm="true" fxLayoutAlign="center" fxLayout="row" class="search-toolbar-div">
    <div fxHide.lt-sm="true" class="search-div" fxLayoutAlign="center center">
      <mat-form-field class="search-bar" appearance="fill legacy">
        <span matPrefix><button mat-icon-button><mat-icon >search</mat-icon></button></span>
        <input matInput type="search" placeholder="Search" (keyup)="searchBox($event)" style="margin-top: 7px;"/>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" class="mat-icon-class" fxLayoutAlign="space-around center">
    <div fxLayoutAlign="center center" style="z-index: 1;">
      <button mat-icon-button color="" fxHide.gt-xs="true"
       (click)="openSearhBar=!openSearhBar">
        <mat-icon matTooltip="Search">search</mat-icon>
      </button>
    </div>
    <div style="margin-right:4.5em" fxLayoutAlign="center">
      <mat-icon matTooltip="refresh">refresh</mat-icon></div>

      <mat-icon  fxHide.lt-sm="true" matTooltip="Apps">apps</mat-icon >
        <div ngClass.gt-xs="account-div-gt-xs" ngClass.lt-sm="account-div-lt-sm" fxLayoutAlign="end center">

          <div>
            <button mat-mini-fab color="" [matMenuTriggerFor]="account" [style.background-image]="profileImageUrl" style="background-size: 100% 100%;"></button>
              <mat-menu #account="matMenu">
                <!-- <mat-card>
                  <div style="height:20%; width:30%">
                    <div (click)="$event.stopPropagation()" fxLayout="row">
                      <button mat-fab color="primary" (click)="fileInput.click()" [style.background-image]="profileImageUrl" style="background-size: 100% 100%;">
                        <input #fileInput type="file" (change)="fileChangeEvent($event)" style="display:none;" />
                      </button>
                      <h1>{{user.firstname}}</h1>
                    </div>
                    <div>{{user.email}}</div>
                  </div>
                </mat-card> -->/
                <div mat-menu-item>
                  <button mat-button>Add account</button>
                  <button mat-button (click)="logout()">Logout</button>
                </div>
              </mat-menu>
          </div>
        </div>
  </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="mat-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened [attr.color]="themeColor" class="example-mat-sidenav" [opened]="true">
      <mat-nav-list>
           <!-- notes -->
          <mat-list-item routerLink="note" >
          <img src="src/assets/images/outline_emoji_objects_black_18dp.png"><span style="margin-left:3em">Notes</span>
          </mat-list-item>
        <!-- <a mat-list-item routerLink="/nav/note" >Notes</a> -->
             <!-- remainders -->

         <a mat-list-item routerLink="." ><mat-icon aria-label="Side nav toggle" >notifications_none</mat-icon>
          <span style="padding-left: 24px;">Remainder</span></a><br>
          <mat-divider></mat-divider><br>

          <button mat-button  *ngFor="let label of labels" >
            <div fxLayout="row" (click)="navigateToLabel(label.label)" >
                <mat-icon class="icons">turned_in</mat-icon>
              <a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{label.label}}</a>

        </div>
        </button>

        <button mat-button (click)="openLabelEditBox()">
        <div fxLayout="row" >
            <mat-icon class="icons">edit</mat-icon>
            <a><span style="padding-left: 24px;">Edit Label</span></a>
        </div></button>
        
        <!-- <a mat-list-item routerLink="/nav/label" ><mat-icon aria-label="Side nav toggle" >label</mat-icon>
        <span style="padding-left: 24px;">Label</span></a><br> -->
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/nav/archive/" ><mat-icon aria-label="Side nav toggle" >archive</mat-icon>
          <span style="padding-left: 24px;">Archive</span></a><br>

        <a mat-list-item routerLink="/nav/bin/" ><mat-icon aria-label="Side nav toggle" >restore_from_trash</mat-icon>
          <span style="padding-left: 24px;">Bin</span></a><br>
      </mat-nav-list>
    </mat-sidenav >
    <mat-sidenav-content>
    <router-outlet> </router-outlet>
     </mat-sidenav-content>
  </mat-sidenav-container>
</div>



