
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar [color]="themeColor" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon aria-label="Side nav toggle">menu</mat-icon></button>
    <h1 class="example-app-name">Fundoo App</h1>
    <div style="width:100%;margin-bottom:0.7em" fxLayoutAlign="center center">  <input type="text" placeholder="Search.."></div>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened [attr.color]="themeColor" class="example-mat-sidenav" [opened]="true">
      <mat-nav-list>
           <!-- notes -->
          <mat-list-item routerLink="/nav/note">
          <img src="src/assets/images/outline_emoji_objects_black_18dp.png"><span style="margin-left:3em">Notes</span>
          </mat-list-item>
        <!-- <a mat-list-item routerLink="/nav/note" >Notes</a> -->
             <!-- remainders -->

        <a mat-list-item routerLink="." >Remainders</a><br>
        <mat-divider></mat-divider><br>
        <a mat-list-item routerLink="/nav/label">Label</a><br>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/archive" >Archive</a>
        <a mat-list-item routerLink="." >Trash</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
    <router-outlet> </router-outlet>

     </mat-sidenav-content>
  </mat-sidenav-container>
</div>

