<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Edit Label</mat-card-title>
    </mat-card-header>
    <div class="forms">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
          <input type="text" formControlName="label" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.label.errors }" matInput placeholder="Create new Label"/>
          <div *ngIf="submitted && f.label.errors" class="invalid-feedback">
              <div *ngIf="f.label.errors.required">Label is required</div>
          </div>
        </mat-form-field>
      </mat-card-content>
      <div>
        <button [disabled]="loading" mat-stroked-button color="accent" class="btn-block">Done</button>
      </div>

    </form>
    </div>
      </mat-card>
</div>

