<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Forgot Password?</mat-card-title>
    </mat-card-header>
            <!-- <form class="example-form"> -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-card-content>
                <mat-form-field class="example-full-width">
              <h5>Please enter your registered email </h5><br>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput placeholder="Email"/>
               <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">email is required</div>

        </div>
        </mat-form-field>
        <button [disabled]="loading" button mat-stroked-button color="accent" class="btn-block"  class="btn btn-primary">Verify</button>
                <!-- <input [(ngModel)]="forgot.email" type=email id="email" matInput placeholder="email"><br><br>
              <button id="button" (click)="forgotuser()">Verify</button>
            </mat-form-field> -->
          </mat-card-content>
          </form>
          </mat-card>

</div>
