<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Forgot Password?</mat-card-title>
    </mat-card-header>
    <!-- <div class="card">
      <div class="container">
          <div style = "text-align:center">
          <div class="registerForm"> -->
            <form class="example-form">

              <mat-card-content>
                <mat-form-field class="example-full-width">
              <h5>Please enter your registered email </h5><br>
                <input [(ngModel)]="forgot.email" type=email id="email" matInput placeholder="email"><br><br>
              <button id="button" (click)="forgotuser()">Verify</button>
            </mat-form-field>
          <!-- </div>
          </div>
      </div>
      </div> -->
</div>
