.noteGridContainer {
  max-width: 1335px;
  
  margin: 0 auto;
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    .grid-item {
      margin-top: 40px;
      margin-left: 20px;
      margin-right:20px;
      border-radius: 5%;
      flex-basis: 25%;
      min-width: 250px;
      min-height: 180px;
     
      
      word-break: break-word;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .mat-form-field-label-wrapper { top: -2em; }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }