
<div  class="noteGridContainer" >
  <div  class="grid-row" >
      <mat-card *ngFor="let note of sendDataToChild; let i = index"  (click)="openDialog(note)" matRipple class="clickable" class="grid-item"  
      [ngStyle]="{background: note.color}" fxLayout="column" 
      fxLayoutAlign="space-between stretch">
      
            <div>
              <mat-card-title>{{note.title}}</mat-card-title>
              <mat-card-content >{{note.note}}</mat-card-content>
              <mat-card-content >{{note.label}}</mat-card-content>
            </div>
            
              <mat-card-footer><app-icon (eventCarrier)="recieveMessageFromIconTray($event,value.id)"></app-icon></mat-card-footer>
            </mat-card>
              
    </div>

</div>


