<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" >
  <mat-card *ngFor="let note of notes" (click)="openDialog(note)" matRipple class="clickable" >

        <textarea class="textarea" matInput matTextareaAutosize placeholder="Take a note...">
        {{note.title}}
        {{note.note}}
        </textarea>

        <!-- <div class="footer-close-button-div" fxLayoutAlign="end center">
          <button mat-button (click)="updateNotes(); panelOpenState=!panelOpenState;">Close</button>
      </div> -->

      </mat-card>
 </div>

