// .mat-card{
//   width: 150px;
//   height: 150px;
//   margin-top: 30px;
//   border-radius: 20px;
//   justify-content: flex-start;
//   }
//   .textarea{
//   border: none;
//   }

.mat-card{
  width: 200px;
  height: 70px;
  margin-top: 30px;
  border-radius: 20px;
  justify-content: flex-start;
  }
  .textarea{
  border: none;
  }

  .clickable:hover {
  cursor: pointer;
  }
