
<div fxLayoutAlign="start center" fxLayout="column"  >
    <div  fxLayoutAlign="center center">
      
    <!-- mat card expanded panel -->
      <mat-card class="matcard" ngClass.gt-xs="mat-card-gt-xs"
      ngClass.lt-sm="mat-card-lt-sm" >
      <mat-card-title>Collaborators</mat-card-title><br>
      <mat-card-content *ngFor="let users of collab_users"> 
        <mat-icon>account_circle</mat-icon>{{users}}
      </mat-card-content>   
    
    <!-- mat card title --> 
    <mat-card-content>
      <div class="inputtag">
        <mat-icon>person_add</mat-icon>
        <input  #emailinput type="email"  [formControl]="email" id="email" matInput placeholder="Email to share with"  required>
     
      </div>
    </mat-card-content>
  
    <br>
    <button mat-button (click)="close()" class="button" class="button">Close</button>
    <button mat-button (click)="add_new_collaborators(emailinput.value)" class="button">Save</button>
  
  
  
      
    </mat-card>
    </div>
  </div>
  
  